@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensures things don't shift to the right when opening modal */
/* (Since scrollbar disappears) */
html {
  scrollbar-gutter: stable;
}

/* Animation upon selecting a slot */
@keyframes slotHighlightGreen {
  0% {
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.8);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}
@keyframes slotHighlightRed {
  0% {
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.8);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(239, 68, 68, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}
.animate-slotHighlight-green {
  animation: slotHighlightGreen 0.7s ease-out;
  background-color: #ecfdf5;
}
.animate-slotHighlight-red {
  animation: slotHighlightRed 0.7s ease-out;
  background-color: #fee2e2;
}
